.table-condensed{
    font-size: 20px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}
.table-text{
    color: #ff8f1a;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    background-image: url(../images/ccc.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;

}

/* https://stackoverflow.com/questions/24154666/background-size-cover-not-working-on-ios */
body:after{
      content:"";
      position:fixed; /* stretch a fixed position to the whole screen */
      top:0;
      height:100vh; /* fix for mobile browser address bar appearing disappearing */
      left:0;
      right:0;
      z-index:-1; /* needed to keep in the background */
      background: url(../images/ccc.jpeg) center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.background {
    background-color: white;
}
